:root {
  --bodyHeightScale: 1;
}
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 24, 37, 0.295);
  opacity: 0.29;  
  pointer-events: none; 
  z-index: 9999;
}
@keyframes TemporaryShow {
  0%, 100% {
    visibility: visible;
  }
}
@keyframes TemporaryHide {
  0%, 100% {
    visibility: hidden;
  }
}
html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
html body {
  -webkit-user-select: none;
  font-family: var(--font);
  font-size: calc(var(--viewportHeightRatio) * (36px / 21.6) * var(--currentPageHeight) / 100 );
  color: white;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#highlight {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
  pointer-events: none;
}

#Electricity {
  width: 100%;
  height: 100%;
}
#Electricity[state=off] {
  display: none;
}
@font-face {
  font-family: "Roboto";
  src: url("/Fonts/RobotoMono-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Light";
  src: url("/Fonts/RobotoMono-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Bold"; 
  src: url("/Fonts/RobotoMono-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ISFD"; 
  src: url("/Pages/VCockpit/Instruments/Airliners/HSB787_10/Assets/fonts/ISFD.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


b787-10-sai {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
b787-10-sai #Mainframe {
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  position: relative;
  font-family: "ISFD";
}
b787-10-sai #Horizon {
  position: absolute;
  height: 80%;
  bottom: 14.5%;
  left: 19%;
  right: 28%;
  width: auto;
  z-index: -1;
  font-family: "ISFD";
}
b787-10-sai #Altimeter {
  position: absolute;
  left: 50%;
  top: 0%;
  width: 100%;
  height: 100%;
  z-index: 1;
  font-family: "ISFD";
}
b787-10-sai #Airspeed {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  z-index: 1;
  font-family: "ISFD";
}
b787-10-sai #Baro {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  font-family: "ISFD";
}
b787-10-sai #Compass {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  font-family: "Roboto-Bold";
}
b787-10-sai-altimeter-indicator#Altimeter,
b787-10-sai-airspeed-indicator#Airspeed,
b787-10-sai-attitude-indicator#Horizon,
b787-10-sai-compass-background#CompassBackground,
b787-10-sai-hsindicator#Compass,
b787-10-sai-baro-indicator#Baro {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
}

.instruments-ready b787-10-sai-altimeter-indicator#Altimeter,
.instruments-ready b787-10-sai-airspeed-indicator#Airspeed,
.instruments-ready b787-10-sai-attitude-indicator#Horizon,
.instruments-ready b787-10-sai-compass-background#CompassBackground,
.instruments-ready b787-10-sai-hsindicator#Compass,
.instruments-ready b787-10-sai-baro-indicator#Baro {
    display: block !important;
    visibility: visible !important;
    opacity: 1 !important;
    transition: opacity 0.5s ease-in-out;
}
.wait-att-display {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
    height: 50px;
    border: 0px solid #ffd900;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto";
    font-size: 30px;
    color: #ffd900;
    font-weight: bold;
    z-index: 1000;
}
.startup-timer {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
    height: 48px;
    border: 3px solid #ffd900;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto";
    font-size: 35px;
    color: #ffd900;
    font-weight: bold;
    z-index: 1000;
}

.startup-timer-text {
    text-align: center;
}
/*# sourceMappingURL=B787_10_SAI.css.map */
